<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>

    <ul class="list">
      <!-- *ngFor works just like a for loop -->
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
 
    <div class="add-members-container">
      <!-- the hashtag defines the ID -->
      <!-- onChange could be any name, it's not the HTML event -->
      <!-- the [] wrapping value, makes the actual value dynamic (equal to a variable) -->
      <input
        #addMemberInput 
        type="text" 
        placeholder="Name"
        (input)="onChange(addMemberInput.value)"
        [value]="newMemberName"
        />
      <button (click)="addMember()">Add</button>

      <!-- error msg will only show if the variable errorMsg is NOT empty in the ts file -->
      <!-- <p *ngIf="errorMsg!=''" class="error-msg">{{errorMsg}}</p> -->
    </div>

    <div class="input-container">
      <input
      #numberOfTeamsInput
       type="number"
       min="1"
       [max]="members.length"
       placeholder="# of teams"
       (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
       [value]="numberOfTeams"/>
      <button (click)="generateTeam()" >Generate</button>
    </div> 
    <!-- error msg will only show if the variable errorMsg is NOT empty in the ts file -->
    <p *ngIf="errorMsg!=''" class="error-msg">{{errorMsg}}</p>
  </div>

  <!-- Only render if groups.length is not undefined = there is something in it -->
  <div *ngIf="groups.length" class="teams-container">

    <!-- this component is in the team folder, and you're passing props into the component -->
      <app-team 
        *ngFor="let group of groups; let i = index" 
        [team]="group"
        [index]="i"
        >
      
      </app-team>
      <br>

  </div>
</div>